<div class="page-header">
  <h2>Pedidos</h2>
</div>

<div class="board row">
  <div class="col">
    <div class="card-list">
      <div class="card-list-header">
        Pendente
      </div>
      <div class="card-list-body">
        <div class="card">
          <div class="card-body">
            Configuração de DNS
          </div>
        </div>
        <%= link_to '', class: 'btn btn-sm d-md-block text-start' do %>
          <span data-feather="plus" class="align-text-bottom"></span>
          Adicionar cartão
        <% end %>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card-list">
      <div class="card-list-header">
        Em andamento
      </div>
      <div class="card-list-body">
        <div class="card">
          <div class="card-body">
            Setup da imagem do Docker
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            Setup do banco de dados
          </div>
        </div>
        <%= link_to '', class: 'btn btn-sm d-md-block text-start' do %>
          <span data-feather="plus" class="align-text-bottom"></span>
          Adicionar cartão
        <% end %>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card-list">
      <div class="card-list-header">
        Em homologação
      </div>
      <div class="card-list-body">
        <%= link_to '', class: 'btn btn-sm d-md-block text-start' do %>
          <span data-feather="plus" class="align-text-bottom"></span>
          Adicionar cartão
        <% end %>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card-list">
      <div class="card-list-header">
        Finalizado
      </div>
      <div class="card-list-body">
        <div class="card">
          <div class="card-body">
            Protótipo no Figma
          </div>
        </div>
        <%= link_to '', class: 'btn btn-sm d-md-block text-start' do %>
          <span data-feather="plus" class="align-text-bottom"></span>
          Adicionar cartão
        <% end %>
      </div>
    </div>
  </div>
</div>
