/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 */

@import 'bootstrap';

.page-header {
  @extend .d-flex, .justify-content-between, .flex-wrap, .flex-md-nowrap, .align-items-center, .pt-3, .pb-2, .mb-3, .border-bottom;
}

.card-list {
  @extend .card;
  background-color: #f2f4f5;
}
.card-list-header {
  padding: 5px 10px;
  font-weight: bold;
  font-size: 0.8em;
  margin-bottom: 5px;
}
.card-list-body {
  @extend .card-body;
  padding: 5px;

  .card {
    border: none;
    border-bottom: 1px solid darkgray;
    border-radius: 3px;
    margin-bottom: 3px;
  }
  .card-body {
    padding: 5px 10px;
  }
}
